<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
  <h1>Account Login</h1>
  <form>
    <div class="mb-3">
      <input type="email" placeholder="Email" name="email" class="form-control">
    </div>
    <div class="mb-3">
      <input type="password" placeholder="Password" name="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>